{
  "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "node": "current"
          }
        }
      ]
  ],
  "plugins": ["module:babel-operator-overload-plugin"]
}
